@model IEnumerable<ASP.NET_Core_Web_Development_Activity2.Models.ProductModel>
<!-- deleted auto generated html, inserted bootstrap card-->

<p>
    <a asp-action="Create">Create New</a>
</p>


<!--bootstrap übernimmt größenanpassung für verschiedene gerätegrößen: class="container d-flex flex-wrap"-->
<div class="container d-flex flex-wrap">

    <!--um alle produkte im card erscheinen zu lassen muss geloopt werden-->
    @foreach(var item in Model)
    {

        // hier wird der code für die suche nach dem ersten word über loremflickr erstellt
        var s = item.Name;
        var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;


        <div class="card" style="width: 18rem;">
            <!--über pravatar.cc,loremflickr.com-->
            <!-- <img src="https://i.pravatar.cc/150?u=@item.Id" class="card-img-top" alt="..."> -->
            <!--alt ist eine bildbeschreibung, die man über inspect oder die sehbehinderungsvorlesefunktion nutzt-->
            <img src="https://loremflickr.com/150/150/@firstWord?lock=@item.Id" class="card-img-top" alt="@item.Name">
         <div class="card-body">
             <h5 class="card-title">@item.Name</h5>
             <p class="card-text">@Html.DisplayFor(m =>item.Price)</p>
             <p class="card-text">@item.Description</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
         </div>
        </div>
    }
</div>