
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Products Index Page</h1>
<p>We will display a list of products here soon.</p>