
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Razor ist html un c# gemixt. at ist C# Code -->
<h2>Welcome @ViewBag.Name</h2>
<p>Don't tell anyone, but the secret number today is @ViewBag.Secret</p>